/var/log/tomcat/instances/*/catalina.out {
  copytruncate
  missingok
  compress
  delaycompress
  missingok
  daily
  rotate 8
}

/var/log/tomcat/apps/*/*.log {
  copytruncate
  missingok
  compress
  delaycompress
  missingok
  daily
  rotate 8
}
